/* Home.tsx */
.home {
  margin-left: 100px;
  margin-right: 100px;
  width: calc(100%-200px);
  padding: 0;
}

@media screen and (max-width: 1200px) {
  .home {
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media screen and (max-width: 1000px) {
  .home {
    margin-left: 50px;
    margin-right: 50px;
  }
}





@media screen and (max-width: 800px) {
  .home {
    margin-left: 30px;
    margin-right: 30px;
  }
}


@media screen and (max-width: 500px) {
  .home {
    margin-left: 5px;
    margin-right: 5px;
  }
}





/* AboutUs.tsx */
.page-wrapper {
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

.about-us {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.features-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 99px;
  align-items: flex-start;
  justify-content: start;
  text-align: start;
  padding-top: 50px;
  padding-bottom: 50px;
}




.about-img {
  height: 450px;
  object-fit: contain;
  margin-bottom: 50px;
}



.features-label {
  align-items: flex-start;
  text-align: left;
  margin-right: 100px;
}

.accent-line {
  width: 100px;
  height: 3px;
  margin-bottom: 20px;
  background-color: yellow;
}

.features-label h3 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2;
  color: #555;
  display: flex;
  align-items: start;
  justify-content: start;
}

.brief-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.about-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.features-label>h3 {
  font-size: 20px;
  color: #666666;
}

.brief-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #666666;
  font-weight: 400;
  text-align: justify;
}

.brief-text p {
  margin-bottom: 15px;
}


.features-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;

}

.feature-card {
  padding: 25px;
  border-radius: 12px;
}

.feature-card h2 {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 25px;

}


.feature-card p {
  font-size: 1rem;
  line-height: 1.1;
  color: #333333;
}

.icon-box {
  margin-bottom: 25px;
}

.team-section-wrapper {
  margin-bottom: 40px;
  margin-top: 40px;
}

.team-main-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0px;
  max-width: 1100px;
  margin: auto;
}

.team-member {
  text-align: center;
  padding: 2px;
  background: #fff;
  border-radius: 12px;
}

.profile-circle {
  width: 150px;
  height: 150px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1rem;
  color: #666;
}


@media (max-width: 900px) {
  .page-wrapper {
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .features-wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }


  .features-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .feature-card {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
  }

  .icon-box {
    display: flex;
    justify-content: flex-start;
  }

  .features-label {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
  }

  .team-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .profile-circle {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 700px) {
  .page-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
    box-sizing: border-box;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }

  .profile-circle {
    width: 100px;
    height: 100px;
  }

  .feature-card {
    padding: 20px 0;
    text-align: left;
  }

  .features-label {
    align-items: flex-start;
    text-align: left;
  }
}


/* Contact.tsx */
.contact-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  line-height: 25px;
}



.coffee {
  max-width: 1100px;
  width: 100%;
  margin: 150px auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  align-items: center;
}

.coffee-line {
  height: 4px;
  width: 120px;
  background-color: #CEE002;

  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 0;

  justify-self: start;
}

.coffee h1 {
  text-align: center;
  margin: 0;
  grid-column: 2;
  margin-left: 0;
}

.map {
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: 0;
  margin-right: 0;
}

.info-container {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 30px;
}

.branch-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}



.location-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.location-line {
  height: 4px;
  width: 120px;
  background-color: yellow;
  margin-bottom: 10px;
}

.location-name {
  font-size: 18px;
  font-weight: 600;
  color: #555;
  margin: 0;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: start;
}

.city-name {
  font-size: 32px;
  font-weight: 600;
  color: #000;
  margin: 0 0 5px 0;
}

.country-name {
  color: #555;
  font-weight: 400;
}

.address-line {
  color: gray;
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.address-details p {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.info-label {
  font-weight: 500;
  color: #000;
  margin-right: 5px;
}



.contact-details {
  padding-top: 10px;
}

.contact-label {
  font-size: 16px;
  color: gray;
  margin: 0 0 5px 0;
  font-weight: 400;
}

.phone-number {
  font-size: 26px;
  font-weight: 400;
  color: #333;
  margin: 5px 0;
}


.work-hours {
  margin-top: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 16px;
  color: #999;
  font-weight: 400;
}

.gray-text {
  color: gray;
}

.work-hours-label {
  font-size: 16px;
  color: black;
  margin: 0 0 5px 0;
}

.work-time {
  font-size: 14px;
  color: #333;
  margin: 3px 0;
}

.gray-text {
  color: #333;
}





@media screen and(max-width: 1100px) {
  .info-container {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
  }

  .coffee {
    width: 100%;
    margin: 80px;
    margin-left: 20px;
    margin-right: 20px;


  }



}

@media screen and(max-width: 900px) {

  .info-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
  }

  .coffee {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: start;
    margin-left: 5px;

  }

  .coffee-line {
    margin-left: 0;
    justify-self: start;
  }

  .coffee h1 {
    grid-column: auto;
    margin-left: 0px;
  }


}

@media (max-width: 768px) {
  .contact-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .coffee {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: start;
    margin-left: 5px;

  }

  .coffee-line {
    margin-left: 0;
    justify-self: start;
  }

  .coffee h1 {
    grid-column: auto;
    margin-left: 0px;
  }

  .info-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .contact-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .coffee {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: start;
    margin-left: 0px;

  }

  .coffee-line {
    margin-left: 0;
    justify-self: start;
  }

  .coffee h1 {
    grid-column: auto;
    margin-left: 0px;
  }

  .info-container {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}



/* Logo.tsx */
.logo-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.clients-logo {
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 40px;
}




.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1300px;
  margin: 0 auto;
  gap: 35px;
}

.logo-grid div {
  position: relative;
}

.logo-grid img {
  width: 100%;
  height: auto;
  display: block;
}


.logo-grid div::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%);
  pointer-events: none;
}

.logo-grid div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: yellow;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;
}

.logo-grid div:hover::after {
  opacity: 0.6;
}

@media (max-width: 1100px) {
  .logo-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .logo-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 700px) {
  .logo-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .logo-grid {
    grid-template-columns: 1fr;
  }
}





/* Order.tsx */
* {
  box-sizing: border-box;
}


.order {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  max-width: 1100px;
}

.order-title {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 45px;
}

.order-container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.order-header-text {
  color: purple;
  text-align: center;
}


.form-container {
  width: 100%;
  max-width: 850px;
  background: white;
  padding: 0;
}

form>div {
  margin-bottom: 15px;
}

label {
  color: purple;
  font-size: 18px;
  font-weight: bold;
}

.required-star {
  color: red;
  margin-left: 3px;
}


.input {
  background-color: #EFEFEF;
  border: none;
  padding-left: 10px;
  height: 40px;
  outline: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  color: black;
}



.textarea {
  height: 70px;
}


.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col {
  flex: 1;
}


.btn {
  display: flex;
  justify-content: start;
  align-items: center;
}

.btn button {
  background-color: #7C3B78;
  color: white;
  width: 80px;
  height: 37px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s ease;
}


.btn button:hover {
  background-color: #5b4659;
}


@media (max-width: 1100px) {
  .order {
    margin-left: 30px;
    margin-right: 30px;
  }

  .form-container {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .order {
    margin-left: 15px;
    margin-right: 15px;
  }

  .form-container {
    width: 100%;
  }

  .row {
    flex-direction: column;
    gap: 15px;
  }
}





/* Portfolio.tsx */
.portfolio-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  max-width: 1300px;
}

.portfolio-header {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
}

.portfolio-inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: 100px auto;
  gap: 30px;
}

.portfolio-inner-container div {
  position: relative;
}

.portfolio-inner-container img {
  width: 100%;
  height: auto;
  display: block;
}


.portfolio-inner-container div::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%);
  z-index: 11;
  pointer-events: none;
}


.portfolio-inner-container div::after {
  content: "";
  position: absolute;
  inset: 0;
  background: yellow;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;
}

.portfolio-inner-container div:hover::after {
  opacity: 0.7;
}


.portfolio-inner-container h2 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  z-index: 3;
  font-size: 28px;

}

.portfolio-card h2 {
  color: white;
  z-index: 99;
}

@keyframes slideDownFromTop {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.portfolio-inner-container div:hover h2 {
  position: absolute;
  top: 5%;
  left: 5%;
  animation: slideDownFromTop 0.5s ease-out forwards;
  color: #000;
}

@media (max-width: 1200px) {
  .portfolio-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .portfolio-inner-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

@media (max-width: 700px) {
  .portfolio-container {
    margin-left: 20px;
    margin-right: 20px;
  }

  .portfolio-inner-container {
    grid-template-columns: 1fr;
  }
}




/* Services.tsx */

.service-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}


.service-container h1 {
  text-align: start;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #000;
}


.service-card {
  display: flex;
  width: 100%;
  height: 480px;
  margin-bottom: 90px;
  overflow: hidden;
  background: #DCDDDF;
  border-radius: 4px;
}


.service-card-left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.service-img {
  width: 100%;
  height: 450px;
  object-fit: contain;
}


.service-card-right {
  flex: 1.5;
  padding: 20px 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(245, 245, 245, 0.812);
  transition: background-color 0.3s ease;
}

.service-card-right:hover {
  background-color: #CEE002;
}

.service-card:hover .service-card-right {
  background-color: #CEE002;
}

.service-card-right h4 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin: 0 0 25px 0;
}

.service-card-right p {
  font-size: 0.9rem;
  color: #666;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 35px;
  flex-grow: 1;
}



.service-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 8px;
}

.service-btn:hover {
  opacity: 1;
  color: #000;
  text-decoration: underline;
}


@media (max-width: 900px) {
  .service-container {
    padding: 0 35px;
  }

  .service-card {
    flex-direction: column;
    height: auto;
  }

  .service-card-left {
    width: 100%;
    padding: 1.5rem 0;
  }

  .service-img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: contain;
  }

  .service-card-right {
    width: 100%;
    padding: 20px;
  }

  .service-card-right h2 {
    margin-bottom: 10px;
  }

  .service-btn {
    margin-top: 10px;
  }
}


@media (max-width: 700px) {
  .service-container {
    padding: 0 25px;
  }

  .service-card {
    flex-direction: column;
    height: auto;
  }

  .service-card-left {
    width: 100%;
    padding: 1.5rem 0;
  }

  .service-img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: contain;
  }

  .service-card-right {
    width: 100%;
    padding: 20px;
  }

  .service-card-right h2 {
    margin-bottom: 10px;
  }

  .service-btn {
    margin-top: 10px;
  }
}



/* About.tsx */
.about {
  max-width: 1500px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 100px auto;
}

.about-container {
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 80px;
  box-sizing: border-box;
}

.about-text-container {
  flex: 1;
  text-align: left;
  min-width: 0;
}


.header-text {
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #CEE002;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about-text-container h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  margin: 0 0 40px 0;
  color: #222;
}

.about-text-container h2 {
  font-size: 2rem;
}

.about-text-container p {
  font-size: 15px;
}

.about-text {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #666;
  margin: 0 0 60px 0;
  max-width: 600px;
  margin-bottom: 60px;

}

.experience {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 40px 0 0 0;
}

.square {
  width: 250px;
  height: 250px;
  border: 4px solid yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
}

.square {
  margin: 0;
  font-size: 70px;
}

.working-experience {
  display: flex;
  align-items: center;
  justify-content: center;
}

.working-experience h3 {

  font-size: 60px;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

.about-img-home {
  flex: 1;
  position: relative;
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;

}

.about-img-home::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 60%;
  height: 60%;
  background-image: radial-gradient(#d1d1d1 2px, transparent 2px);
  background-size: 15px 15px;
  z-index: -1;
}

.about-img-home img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  max-width: 100%;
}



@media (max-width: 1024px) {
  .about-container {
    gap: 50px;
    padding: 0;
  }

  .about-text-container h1 {
    font-size: 2.4rem;
  }

  .square {
    width: 200px;
    height: 200px;
    font-size: 3rem;
  }

  .about-img-home {
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 10px;

  }

  .about-img-home::before {
    left: 20px;
    bottom: -40px;
    width: 80%;
    height: 80%;
  }

  .about-img-home img {
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
  }

}



@media (max-width: 868px) {
  .about-container {
    flex-direction: column;
    gap: 40px;
    padding: 0 !important;
  }

  .about-img-home::before {
    left: -20px;
    bottom: -40px;
    width: 80%;
    height: 80%;
  }


  .about-img-home img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
  }

  .about-text-container {
    width: 100%;
    text-align: left;
    order: 1;
  }

  .about-text {
    max-width: 100%;
  }

  .experience {
    justify-content: flex-start;
  }

  .about-img-home {
    width: 100%;
    max-width: 100%;
    justify-content: center;
    order: 2;
  }

  .about-img-home img {
    max-height: 650px;
    object-fit: cover;
  }

  .square {
    width: 150px;
    height: 150px;
    border: 4px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
  }

  .square p {
    margin: 0;
    font-size: 70px;
  }

  .working-experience h3 {
    font-size: 30px;
    line-height: 1.4;
    color: #333;
    margin: 0;
  }
}



@media (max-width: 480px) {
  .about-container {
    padding: 0;
  }

  .about-text-container h1 {
    font-size: 2rem;
  }


  .square {
    width: 130px;
    height: 130px;
    font-size: 3.6rem;
    border-width: 4px;
  }

  .square p {
    font-size: 3.6rem;
  }

  .working-experience h3 {
    font-size: 1.6rem;
    line-height: 1.4;
  }
}




/* Footer.tsx */

.footer {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.1fr;
  align-items: start;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 100px;
  box-sizing: border-box;
}

.footer-section {
  display: flex;
  flex-direction: column;
}

.logo-section-footer {
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.logo-img-footer {
  width: 50px;
  height: 50px;
  object-fit: contain;
  align-items: start;
  justify-content: start;
}

.logo-texts {
  display: flex;
  flex-direction: column;
}

.logo-text {
  margin: 0;
}

.logo-sub {
  margin: 0;
  font-size: 0.8rem;
}


.middle p {
  margin: 0.3rem 0;
  font-size: 0.85rem;
  color: #000000;
}

.technology-partner {
  margin-top: 1rem;
  text-decoration: none;
  font-size: 0.85rem;
  color: #3498db;
  font-weight: 500;
}

.technology-partner:hover {
  color: #2980b9;
  text-decoration: underline;
}


.mid-right a,
.right a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  transition: all 0.3s ease;
  display: block;
  width: fit-content;
}

.mid-right a:hover,
.right a:hover {
  color: #3498db;
  padding-left: 5px;
}


.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

@media (max-width: 1100px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0 30px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .footer-section {
    width: 100%;
  }

  .mid-right a,
  .right a {
    display: block;
    margin: 6px 0;
  }

  .logo-img {
    width: 45px;
    height: 45px;
  }
}


@media (max-width: 900px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin: 0 20px;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  .footer-section {
    width: 100%;
  }

  .mid-right a,
  .right a {
    display: block;
    margin: 6px 0;
  }

  .logo-img {
    width: 45px;
    height: 45px;
  }
}


@media (max-width: 768px) {
  .footer {
    padding: 10px 2px;
    gap: 25px;
    margin: 0 10px;
  }


}

/* Hero.tsx */

.hero-container {
  height: 90%;
  width: 100%;
  margin: 0;
  margin-bottom: 80px;
}

.hero-swiper {
  position: relative;
  width: 100%;
  height: 90vh;
}




.hero-slide-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.slide-text-container {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  color: black;
  max-width: 500px;
  width: 200px;
  height: 400px;
  padding: 15px;
  box-sizing: border-box;
  z-index: 10;
}

.slide-text-container div {
  margin-left: 10px;
}

.slide-text-container::before,
.slide-text-container::after {
  content: "";
  position: absolute;
  background: transparent;

  box-sizing: border-box;

  width: 0;
  height: 0;
}

.slide-text-container::before {
  top: 0;
  left: 0;
  border-top: 4px solid yellow;
  border-right: 4px solid yellow;
}

.slide-text-container::after {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid yellow;
  border-left: 4px solid yellow;
}


.hero-swiper .swiper-slide-active .slide-text-container::before {
  animation: drawTopRight 1s ease forwards;
  animation-delay: 0.25s;
}

.hero-swiper .swiper-slide-active .slide-text-container::after {
  animation: drawBottomLeft 1s ease forwards;
  animation-delay: 1s;
}


.hero-swiper .swiper-slide-active .slide-heading {
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 1s ease-out forwards;
  animation-delay: 0.5s;
}

.hero-swiper .swiper-slide-active .top-text {
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 1s ease-out forwards;
}

.slide-link {
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 1s ease-out forwards;
}



@keyframes drawTopRight {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 100%;
    height: 0;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes drawBottomLeft {
  0% {
    width: 0;
    height: 0;
  }

  50% {
    width: 100%;
    height: 0;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.top-text-div {
  margin-bottom: 65px;
}


.slide-heading {
  height: auto;
  width: 250px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.slide-link-div {
  position: absolute;
  bottom: 20px;
  left: auto;
  z-index: 99;
}

.slide-link {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  margin-top: 15%;
}

.slide-link svg {
  margin-left: 6px;
}

.custom-pagination {
  position: absolute;
  bottom: 40px !important;
  right: 40px !important;
  left: auto !important;
  width: auto !important;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 15px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 50px;
  height: 5px;
  border-radius: 2px;
  background: #333;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  width: 50px;
  background: red;
}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 800px) {}

@media (max-width: 600px) {
  .slide-text-container {
    top: 50%;
    left: 15%;
    color: black;
    width: 180px;
    height: 400px;
    z-index: 10;
  }

  .slide-heading {
    font-size: 2rem;
    width: 100%;
  }
}


/* Map.tsx */

.map-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.map-container iframe {
  width: 100%;
  height: 700px;
}

@media screen and (max-width: 900px) {
  .map-container iframe {
    height: 500px;
  }

  .map-container {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 700px) {
  .map-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .map-container iframe {
    height: 400px;
  }
}


/* Navbar.tsx */
.navbar-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 100px;
  margin-right: 100px;
  box-sizing: border-box;
}

.logo-section-navbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.logo-texts {
  display: flex;
  flex-direction: column;
}

.logo-text {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
}

.logo-sub {
  font-size: 11px;
  margin: 0;
  color: #555;
  font-weight: 400;
}

.middle-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-left: auto;
}

.middle-section a,
.nav-link {
  text-decoration: none;
  font-size: 20px;
  color: #333;
  font-weight: 500;
}


.nav-link {
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

.nav-link:hover,
.nav-link.active {
  border-bottom: 3px solid red;
}

.hamburger {
  display: none;
}

.hamburger:hover {
  color: #CEE002;
}

span {
  font-size: medium;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .navbar-container {
    margin: 0 70px !important;
  }

}

@media (max-width: 1100px) {
  .navbar-container {
    margin: 0 50px !important;
  }

  .middle-section {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .hamburger>svg {
    align-items: flex-end;

  }
}

@media (max-width: 800px) {
  .navbar-container {
    margin: 0 30px !important;
  }
}

@media (max-width: 700px) {
  .navbar-container {
    margin: 0 15px !important;
  }
}

@media (max-width: 700px) {
  .navbar-container {
    margin: 0 5px !important;
  }
}



/* ServicesWeOffer.css */

.services-we-offer-container {
  padding-bottom: 120px;
}

.services-text {
  margin-top: 40px;
  margin-bottom: 40px;
}

.swiper-container-wrapper {
  max-width: 1200px;
  margin-top: 99px;
  margin-bottom: 100px;
  padding: 0 20px;
}

.slide-content {
  position: relative;
  height: 550px;
  width: auto;
  overflow: hidden;
  border-radius: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-swiper-text {
  position: absolute;
  inset: 0;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  padding: 30px;
}



.services-we-offer-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 1;
  font-weight: 700;
  pointer-events: auto;
  transition: color 0.3s ease;
  display: inline-flex;
  align-items: center;
}

.services-we-offer-link {
  color: #ffffff;
}


.services-we-offer-link .arrow {
  display: flex;
  align-items: center;
  font-size: 22px;
}





.slide-title {
  position: absolute;
  top: 0px;
  left: 20px;
  transform: translateY(calc(550px - 80px));
  pointer-events: auto;
  color: #000;
}



.slide-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 100%);
  z-index: 11;
  pointer-events: none;
}


.slide-content::after {
  content: "";
  position: absolute;
  inset: 0;
  background: yellow;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;

}

.slide-content:hover::after {
  opacity: 0.7;
  color: #000;
}

.slide-title {
  color: white;
  padding-bottom: 20px;

}



@keyframes slideDownFromTop {
  0% {

    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.card:hover .slide-title {
  position: absolute;
  top: 10%;
  left: 5%;
  animation: slideDownFromTop 0.5s ease-out forwards;
  color: #000;
}

.card:hover .services-we-offer-link {
  color: #000;
}


.card:hover .services-swiper-text {
  z-index: 101;
}


.slide-title h2 {
  margin: 0;
  font-size: 1.7rem;
  margin-bottom: 25px;
}


.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: yellow;
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 1;
  pointer-events: none;
}


.card:hover::after {
  opacity: 0.8;
  z-index: 99;
}


.card:hover .services-swiper-text {
  z-index: 101;
}

@media screen and(max-width: 700px) {
  .swiper-container-wrapper {
    max-width: 600px;
    margin-top: 99px;
    margin-bottom: 100px;
    padding: 0 5px;
  }
}



/* Sidebar.tsx */

.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  max-width: 800px;
  height: 100vh;
  background-color: #fff;
  padding: 20px;
  z-index: 9999;
  transform: translateX(300%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-container.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: flex-end;
}

.hamburger:hover {
  color: #CEE002;
}

.sidebar-links a {
  text-decoration: none;
  color: grey;
  display: block;
  padding: 12px 0;
}

.sidebar-links a:hover {
  color: #000;
}

.sidebar-links a h2 {
  font-size: 1.3rem;
  margin: 0;
  transition: color 0.2s;
}


.sidebar-footer {
  padding-top: 15px;
  text-align: center;
  margin-bottom: 50px;
}

.tech-partner {
  color: #000;
}



@media screen and (max-width: 760px) {
  .sidebar-container {
    width: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

}

@media screen and (max-width: 600px) {
  .sidebar-container {
    width: 100%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  .sidebar-links {
    padding: 10px;
  }
}




/* SplashScreen.tsx */
.splash-container {
  position: relative;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  z-index: 99;
}

.cross-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  font-size: 24px;
  z-index: 100;
  border-radius: 50%;
  height: 30px;
  width: 40px;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-img {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.splash-img img {
  width: 100%;
  max-width: 900px;
  max-height: 80vh;
  object-fit: contain;
}


@media (max-width: 768px) {
  .splash-container {
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
  }

  .splash-img {
    width: 100%;
    height: 100%;
  }

  .splash-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cross-icon {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 22px;
  }
}



/* Testmonials.tsx */
.testmonials-section {
  max-width: 1250px;
  margin: 100px auto;
}


.testmonials-container {
  margin-left: 30px;
  padding-top: 99px;
  padding-bottom: 70px;
  position: relative;
}

.testmonials-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.testmonials {
  background-color: white;
  display: flex;
  width: 100%;
  flex-direction: column;


}

.testmonials-img-div {
  margin-bottom: 25px;
}

.testimonials-Swiper .swiper-button-prev,
.testimonials-Swiper .swiper-button-next {
  top: 20px;
  bottom: auto;
  color: #000;
  width: 30px;
  height: 30px;
}


.testimonials-Swiper .swiper-button-next {
  right: 10px;
}

.testimonials-Swiper .swiper-button-prev {
  right: 50px;
  left: auto;
}


.testimonials-Swiper .swiper-button-prev:hover,
.testimonials-Swiper .swiper-button-next:hover {
  color: #555;
}



.testmonials-img {
  height: 105px;
  width: 105px;
}

.testimonials-name span,
.testimonials-text {
  color: gray;
  font-size: 14px;
}

@media screen and (max-width: 1100px) {
  .testmonials-section {
    margin: 25px;
  }

  .testmonials-container {
    margin-left: 5px;
  }
}

@media screen and (max-width: 700px) {
  .testmonials-section {
    margin: 5px;
  }

  .testmonials-container {
    margin-left: 0px;
  }
}


/* WhatsApp.tsx */
.whatsapp-container {
  margin-left: 70px;
  margin-right: 70px;
  position: fixed;
  bottom: 3%;
  right: 1%;
  z-index: 999;
}

.whatsapp-container a {
  color: green;
}

@media screen and (max-width: 1100px) {
  .whatsapp-container {
    margin-left: 30px;
    margin-right: 30px;
    position: fixed;
    bottom: 3%;
    right: 1%;
    z-index: 999;
  }
}

@media screen and (max-width: 700px) {
  .whatsapp-container {
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    bottom: 3%;
    right: 1%;
    z-index: 999;
  }
}