.about-us-container {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    width: 100vw;
    margin: 5px 5px; 
    padding: 0px;
    overflow-wrap: break-word;
    max-width: 98%;
}


.about-img{
    width: 100%;
    height: auto;

}

.what-we-do {
    border-top: 4px solid yellow;
    width: 100px;
    margin: 10px 0;
}

.about-us-container p {
    opacity: 0.9;
    line-height: 1.6; 
    margin-bottom: 15px;
}


.gravure-team {
    font-size: 2rem; 
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
}


.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 20px; 
}


.img {
    width: 250px; 
    max-width: 600px; 
    height: auto; 
    border: 2px solid black;
    border-radius: 50%;
    transition: transform 0.3s ease;
}


.img:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .about-us-container {
        padding: 0px;
    }

    .gravure-team {
        font-size: 1.5rem;
    }

    .img {
        max-width: 100%;
        border-radius: 50%;
    }
}
