.about-us-container{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    


}
.what-we-do{
    border-top: 4px solid yellow;
    width: 100px;
}

.about-us-container p{
    opacity: 0.9;
    line-height: 20px;

}
.gravure-team{
    font-size: xx-large;
    font-weight: 700;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team {
    margin-top: 2px;
}
.img{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 150px;
}
