.page-wrapper {
  margin-left: 50px;
  margin-right: 50px;
  overflow: hidden;
  box-sizing: border-box;
}

.features-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  margin-bottom: 99px;
  align-items: flex-start;
}

.about-img{
  height: 450px;
  object-fit: contain;
  margin-bottom: 50px;
}


.features-label {
  flex: 0 0 150px;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 15px; 
}

.accent-line {
  width: 100px;
  height: 3px;
  background-color: yellow;
}

.features-label h3 {
  font-size: 1.6rem;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2;
  color: #222;
}

.brief-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.about-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.brief-text {
  font-size: 1rem;
  line-height: 1.7;
  color: #444;
  font-weight: 500;
  text-align: justify;
}

.brief-text p {
  margin-bottom: 15px;
}

.features-grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.feature-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
}

.feature-card h2 {
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #222;
}

.feature-card p {
  font-size: 1rem;
  line-height: 1.1;
  color: #000;
}

.icon-box {
  margin-bottom: 10px;
}

.team-section-wrapper {
  margin-bottom: 40px;
}

.team-main-title {
  font-size: 1.8rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 0px;
}

.team-member {
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
}

.profile-circle {
  width: 150px;
  height: 150px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member h4 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.team-member p {
  font-size: 1rem;
  color: #666;
}

@media (max-width: 768px) {
  .page-wrapper {
    margin-left: 30px;
    margin-right: 30px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .features-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  

  .features-label {
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    width: 100%;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .profile-circle {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 500px) {
  .page-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .team-grid {
    grid-template-columns: 1fr;
  }
  
  .profile-circle {
    width: 100px;
    height: 100px;
  }
  
  .feature-card {
    padding: 20px;
  }

  .features-label {
    align-items: flex-start;
    text-align: left; 
  }
}