.contact-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    line-height: 30px;
}
.coffee{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.map{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}

.info-container{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.branch-container {
    display: flex;
    flex-direction: column;
    gap: 40px; 
}



.location-header {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-bottom: 20px;
}

.location-line {
    height: 4px;
    width: 120px; 
    background-color: yellow; 
    margin-bottom: 10px; 
}

.location-name {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin: 0;
}


.info-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    align-items: start;
}

.city-name {
    font-size: 32px;
    font-weight: 600;
    color: #000;
    margin: 0 0 5px 0;
}

.country-name {
    color: #000; 
    font-weight: 600;
}

.address-line {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 20px 0;
}

.address-details p {
    font-size: 16px;
    margin: 5px 0;
}

.info-label {
    font-weight: bold;
    color: #000;
    margin-right: 5px;
}


.contact-details {
    padding-top: 10px; 
}

.contact-label {
    font-size: 16px;
    color: #000; 
    margin: 0 0 5px 0;
}

.phone-number {
    font-size: 26px; 
    font-weight: 600;
    color: #000;
    margin: 5px 0;
}


.work-hours {
    margin-top: 20px;
    justify-content: flex-end;
    align-items: flex-end;
}

.work-hours-label {
    font-size: 16px;
    color: #333; 
    margin: 0 0 5px 0;
}

.work-time {
    font-size: 16px;
    color: #000;
    margin: 3px 0;
}

.gray-text {
    color: #000; 
}


.ktm-name {
    padding-top: 10px;
}

.ktm-line {
    margin-top: 10px;
}


@media (max-width: 768px) {
    .contact-container{
        margin-left: 20px;
        margin-right: 20px;
    }
    .info-grid {
        grid-template-columns: 1fr;
    }
}