.contact-container{
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}

.location{

    border-top: 4px solid yellow;
    width: 150px;
    margin-top: 15px;
}
.ktm{
    margin-top: 30px;
}


.contact-container p{
    font-size: 15px;
    opacity: 0.7;
}
contact-container span{
    font-size: larger;
    font-weight: 700;
}