.clinets-logo-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.logo-img-container {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 100%;
    max-width: 700px; 

}
.logo-img-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: yellow;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.logo-img-container:hover::after {
    opacity: 0.6;
    z-index: 99;
}

.clients-logo-img {
    width: 100%;
    height: auto;
    display: block;
    z-index: 2;
}

@media (max-width: 700px) {
    .logo-img-container {
        max-width: 500px;
    }
}


@media (max-width: 400px) {
    .logo-img-container {
        width: 100%;
        padding: 5px;
    }

    .clients-logo-img {
        width: 100%;
        height: auto;
    }
}
