.logo-container {
     margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;  
    margin: 0 auto;   
    gap: 45px;
}

.logo-grid div {
    position: relative;
}

.logo-grid img {
    width: 100%;
    height: auto;
    display: block;
}


.logo-grid div::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
    );
    pointer-events: none;
}
.logo-grid div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: yellow;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.logo-grid div:hover::after {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .logo-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .logo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .logo-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo-grid {
        grid-template-columns: 1fr; 
    }
}
