
* {
  box-sizing: border-box;
}

.order-container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}
.order-header-text{
  color: purple;
}

.form-container {
  width: 100%;
  max-width: 900px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  
}

.input {
  background-color: rgb(246, 244, 244);
 border: none;
  padding-left: 10px;
  height: 40px;
  outline: none;
  width: 100%; 
  margin-top: 5px; 
}


.row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}


.col {
  flex: 1; 
}

form > div {
  margin-bottom: 15px;
}
label {
  color: purple;
  font-size: 18px;
  font-weight: bold;
}
.required-star {
  color: red;
  margin-left: 3px;
}


.input {
  background-color: rgb(246, 244, 244);
  padding-left: 10px;
  height: 40px;
  outline: none;
  width: 100%; 
  margin-top: 5px; 
  font-size: 16px; 
  font-weight: normal; 
  color: black;
}

          
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn button {
  background-color: #7C3B78;
  color: white;
  width: 200px;
  height: 48px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s ease;
}

.btn button:hover {
  background-color: rgba(99, 84, 84, 0.9);
}


@media screen and (max-width: 700px) {
  .form-container {
      width: 95%;
      padding: 18px;
  }

  .row {
      flex-direction: column;
      gap: 15px; 
  }
}