.order-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 227, 227);

}
form{
    height: 100vh;
    width: 80%;
}

.input{
    height: 25px;
    outline: none;
    width: 45%;
    margin-left: 4%;
}