
* {
  box-sizing: border-box;
}

.order-container {
  
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 227, 227);
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
}

.form-container {
  width: 80%;
  max-width: 700px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input {
  background-color: rgb(246, 244, 244);
  border: 1px solid #888;
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
  outline: none;
  width: 100%; 
  margin-top: 5px; 
}


.row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}


.col {
  flex: 1; 
}

form > div {
  margin-bottom: 15px;
}
label {
  color: purple;
  font-size: 18px;
  font-weight: bold;
}


.input {
  background-color: rgb(246, 244, 244);
  border: 1px solid #888;
  border-radius: 10px;
  padding-left: 10px;
  height: 40px;
  outline: none;
  width: 100%; 
  margin-top: 5px; 
  font-size: 16px; 
  font-weight: normal; 
  color: black;
}

form > button {
  background-color: black;
  color: white;
  width: 100%;
  height: 45px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s ease;
}

form > button:hover {
  background-color: rgb(90, 90, 90);
}


@media screen and (max-width: 650px) {
  .form-container {
      width: 95%;
      padding: 18px;
  }

  .row {
      flex-direction: column;
      gap: 15px; 
  }
}