.order-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 227, 227);
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container {
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

form > button {
    background-color: black;
    color: white;
    width: 100%;
    height: 45px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 10px;
    cursor: pointer;
}
form > button:hover {
    background-color: rgb(166, 127, 127);
}


form > div > input,
form > div > select {
    background-color: rgb(246, 244, 244);
    border: 1px solid black;
    border-radius: 10px;
}


.input {
    width: 45%;
    height: 40px;
    margin: 10px 5px;
    padding: 5px;
    outline: none;
}


form > div > label {
    color: purple;
    font-size: 20px;
    font-weight: bold;
}



@media screen and (max-width: 700px) {
    .form-container {
        width: 90%;
        padding: 15px;
    }
    .input {
        width: 100%; 
        margin: 8px 0;
    }
}


@media screen and (max-width: 450px) {
    form > div > label {
        font-size: 16px;
    }

    .form-container {
        padding: 10px;
    }

    .input {
        height: 38px;
        font-size: 14px;
    }

    form > button {
        height: 40px;
        font-size: 16px;
    }
}
