 .order-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 227, 227);

    justify-content: center;
} 
form{
    height: 65vh;
    width:100%;
    
}
form > button{
    background-color: black;
    color: white;
    width: 100%;
    height: 30px;

}

form > button:hover{
    background-color: rgb(166, 127, 127);;
    
    
}
form> div> input, select{
    background-color: rgb(246, 244, 244);
    border: 1px solid black;
    border-radius: 5px;
}
.input{
    gap: 30px;
    height: 30px;
    outline: none;
    width: 45%;
    margin: 10px;
} 



form >div >span{
    color: darkred;
}