.portfolio {
   width: 98%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;

}

.img-div {
   position: relative;
   background-color: gray;
   margin: 10px 0;
   padding: 10px;
   width: 100%;
   max-width: 700px;
   overflow: hidden; 
}

.img-div > img {
   width: 100%;
   height: auto;
   object-fit: cover;
   display: block;
}


.img-div::after {
   content: "";
   position: absolute;
   inset: 0;
   background: yellow;
   opacity: 0;
   transition: opacity 0.3s ease;
   z-index: 1;
}

.img-div:hover::after {
   opacity: 0.6;
   z-index: 2;
}

.portfolio-text {
   position: absolute;
   top: 5%;
   left: 5%;
   z-index: 3; 
   color: #000;
   font-weight: 800;
   font-size: 32px;
}


@media screen and (max-width: 700px) {
   .img-div {
      max-width: 100%;
      padding: 5px;
      margin: 5px 0;
   }
}

@media screen and (max-width: 400px) {
   .img-div {
      padding: 2px;
   }

   .portfolio-text {
      font-size: 14px;
      top: 3%;
      left: 3%;
   }
}
