.portfolio {
   width: 100%;
   height: auto;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

.img-div {
   position: relative;
   background-color: gray;
   margin: 10px 0;
   padding: 10px;
   width: 100%;
   max-width: 700px; 
}

.img-div > img {
   width: 100%;
   height: auto;
   object-fit: cover;
}

.portfolio-text {
   position: absolute;
   top: 5%;
   left: 5%;
   color: #fff;
}


@media screen and (max-width: 700px) {
   .img-div {
      max-width: 100%;
      padding: 1px;
      margin: 1px;
   }
}


@media screen and (max-width: 400px) {
   .img-div {
      padding: 0px;
   }

   .portfolio-text {
      font-size: 14px;
   }
}
