.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.service-container h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #000;
}

.service-card {
  display: flex;
  width: 100%;
  height: 500px;
  margin-bottom: 90px;
  overflow: hidden;
  background: #DCDDDF;
}

.service-card-left {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.service-card-left img {
  width: auto;
  height: 90%;
  object-fit: contain;
}

.service-card-right {
  flex: 1.5;
  padding: 20px 2rem;
  display: flex;
  flex-direction: column;
  background: #f7f7f7;
}

.service-card-right:hover {
  background-color: yellow;
}

.service-card-right h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin: 0 0 25px 0;
  padding: 0;
}

.service-card-right p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  flex-grow: 1;
}

.service-btn {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 8px;
}

.service-btn:hover {
  opacity: 0.7;
  text-decoration: underline;
}

@media (max-width: 865px) {
  .service-container {
    margin-left: 5px;
    margin-right: 5px;
  }

  .service-card {
    flex-direction: column;
    height: auto;
  }

  .service-card-left {
    width: 100%;
    padding: 2rem 0;
  }

  .service-card-left img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }

  .service-card-right {
    width: 100%;
    padding: 20px;
  }

  .service-card-right h2 {
    margin-bottom: 8px;
  }

  .service-card-right button {
    margin-top: 8px;
  }
}