.service-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.service-container h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: #000;
}


.service-card {
  display: flex;             
  background-color: #f2f2f2; 
  margin-bottom: 30px;      
  width: 100%;
  overflow: hidden; 
  height: 600px;         

}


.service-card-left {
  flex: 3;                   
  display: flex;
  align-items: center;       
  justify-content: center;   
  background-color: #e6e6e6; 
}

.service-card-left img {
  width: 100%;          
  height: auto;
  object-fit: contain;
  
}

.service-card-right {
  flex: 1;                   
  padding: 3rem 4rem;        
  display: flex;
  flex-direction: column; 
  justify-content: space-between;  
  text-align: left;
  gap: 30px;          
}
.service-card-right:hover{
  background-color: yellow;
}

.service-card-right h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1.5rem;
}

.service-card-right p {
  font-size: 1rem;
  color: #666;               
  line-height: 1.6;
  margin-bottom: 2.5rem;
  max-width: 90%;           
}

.service-card-right button {
  background: none;
  border: none;
  padding: 0;
  font-size: 0.9rem;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  align-self: flex-start;   
}

.service-card-right button:hover {
  opacity: 0.7;             
}


@media (max-width: 700px) {
  .service-card {
    flex-direction: column; 
  }
  
  .service-card-left, 
  .service-card-right {
    flex: auto;
    width: 100%;
    padding: 2rem;
    text-align: center;      
  }

  .service-card-right {
    align-items: center;     
  }

  .service-card-right p {
    max-width: 100%;
  }
}