.service-container {
  width: 100%;
  padding: 40px 20px;
}

.service-container h1 {
  text-align: center;
  margin-bottom: 40px;
}

.service-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
  padding: 20px;
}


.service-row-img> img {
  width: 700px;
  max-width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.service-row-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

.service-row-content h2 {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
}

.service-row-content p {
  margin: 10px 0 20px;
  font-size: 16px;
  line-height: 1.6;
}


.service-btn {
  display: inline-block;
  padding: 12px 24px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  width: fit-content;
}
.service-btn:hover{
  background-color: antiquewhite;
  color: black;
}


@media (max-width: 700px) {
  .service-container{
    padding: 0;
    margin: 0;
  }
  .service-row {
    flex-direction: column; 
    text-align: center;
  }

  .service-row-content {
    align-items: center;
  }

  .service-row-img img {
    width: 100%;
    max-width: 400px;
  }
}
