.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 40px; 
}

.about-container h1 {
  font-size: 2rem;
}

.header-text {
  color: rgb(111, 111, 45);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.experience {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.square {
  width: 80px;
  height: 80px;
  color: black;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
}

.working-experience h3 {
  font-size: 1rem;
  line-height: 1.2;
}

.about-img img {
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 8px;
}


@media (max-width: 700px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .experience {
    justify-content: center;
  }

  .about-img img {
    margin-top: 10px;
  }
}
