.footer{
    display: flex;
    flex-direction: column;
    color: black;
    margin-bottom: 15px;
    font-weight: 700;
    margin-left: 7px;
    margin-bottom: 25px;
}

.footer-gravure-link{
    margin: 0%;
    padding: 0%;
}
.footer-right{
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-middle{
    margin-top: 15px;
    margin-bottom: 30px;
}

.footer-end {
    margin-bottom: 50px;
}

.footer-middle a , .footer-end a{
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.technology-partner{
    color: rgb(116, 116, 65);
}