.footer {
  margin: 0 80px;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 100px; 
  padding: 30px 0;
  align-items: center;
  justify-content: space-between;
}

.footer-section {
  flex: 1;               
  min-width: 220px;
  display: flex;
  flex-direction: column;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo-texts {
    display: flex;
    flex-direction: column;
}



.middle p {
  margin: 0.3rem 0;
  font-size: 0.85rem;
  color: #000000;
}

.technology-partner {
  margin-top: 1rem;
  text-decoration: none;
  font-size: 0.85rem;
  color: #3498db;
  font-weight: 500;
}

.technology-partner:hover {
  color: #2980b9;
  text-decoration: underline;
}

.mid-right a,
.right a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.8rem;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  font-weight: 500;
}

.mid-right a:hover,
.right a:hover {
  color: #3498db;
  padding-left: 5px;
}





@media (max-width: 1100px) {
  .footer {
    flex-direction: column;   
    align-items: flex-start;  
    gap: 30px;
    margin: 0;
    padding: 20px;  
  }

  .footer-section {
    width: 100%;
  }

  .mid-right a,
  .right a {
    display: block;
    margin: 6px 0;
  }

  .footer-title {
    font-size: 1.3rem;
  }

  .logo-img {
    width: 45px;
    height: 45px;
  }
}
