.hero-container{
    height: 80%;
    width: 100vw;
    position: relative;
    margin-left: 2.5%;
}

.hero-Swiper{
    position: relative;
    width: 100%;
    height: 100vh;
}
.slide-img{
    
    align-self: center;
    justify-self: center;
}

/* .hero-slide-img{

    justify-self: center;
    align-self: center;
} */




.slide-text{
    position: absolute;
    top: 50%;
    left: 20%;
    font-weight: bold;
    
}

.swipper-h1{
    height: 50px;
    width: 25px;
   
} 



@media (max-width:600px) {
    .slide-text{
    position: absolute;
    top: 50%;
    left: 42%;
    }
   
}