.hero-container{
    height: 80%;
    width: 100vw;
    position: relative;
    
}

.hero-Swiper{
    position: relative;
    width: 100%;
    height: 100vh;
}
.hero-slide-item{
    position: relative;
    width: 100%;
    height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slide-text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: black;
  max-width: 500px;
  width: 250px;
  height: 350px;
  border: 4px solid yellow;
  padding: 15px;
}


.slide-heading {
  height: auto;
  width: 250px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

 
.slide-link {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.slide-link svg {
  margin-left: 6px;
}



@media (max-width:600px) {
    .slide-text-container>h1{
    position: absolute;
    top: 60%;
    left: 15%;
    font-size: medium;
    width: 150px;
    border: 0px ;
    }


    .hero-container{
      height: 450px;
    }
    .hero-img {
      height: 400px;
    }
    .slide-text-container{
      height: 250px;
      
    }
    .slide-link{
      position: absolute;
      top: 74%;
      left: 40px;
      font-size: small;
    }
   
}
