.hero-container{
    height: 80%;
    width: 100%;
}

.Hero-img{
    width: 100%;
    height: 100%;

}
img{
    object-fit: contain;
}

.hero-text{
    width: 250px;
    width: 20%;
    position: absolute;
    bottom: 10px;
}