.hero-container{
    height: 80%;
    width: 100%;
    position: relative;
}

.Hero-img{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;

}
/* h1{
    font-size: 40px;
} */

.hero-text{
    position: absolute;
    width: 250px;
    width: 20%;
    top: 50%;
    left: 20%;
}

