.hero-container {
  height: 80%;
  width: 100%;
  margin: 0;
  margin-bottom: 80px;

}

.hero-Swiper {
  position: relative;
  width: 100%;
  height: 80vh;
}

.hero-slide-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}


.hero-swiper .swiper-slide-active .slide-heading {
  opacity: 0;
  transform: translateX(-80px);
  animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



.slide-text-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: black;
  max-width: 500px;
  width: 280px;
  height: 350px;
  border: 4px solid yellow;
  padding: 15px;
}




.slide-heading {
  height: auto;
  width: 250px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}


.slide-link {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4rem;
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.slide-link svg {
  margin-left: 6px;
}



@media (max-width:600px) {
  .slide-text-container{
    width: 300px;
  }
}