.map-container{
    margin-left: 20px;
    margin-right: 20px;
}
.map-container iframe {
    width: 100%;
    height: 700px;
}

@media screen and (max-width: 900px) {
    .map-container iframe {
        height: 500px;
    }
}

@media screen and (max-width: 700px) {
    .map-container iframe {
        height: 400px;
    }
}
