.navbar-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 150px;
    box-sizing: border-box;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.logo-texts {
    display: flex;
    flex-direction: column;
}

.logo-text {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
}

.logo-sub {
    font-size: 12px;
    margin: 0;
    color: #555;
    font-weight: 600;
}

.middle-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-left: auto;
}

.middle-section a,
.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    font-weight: 500;
}

.nav-link {
    padding-bottom: 5px;
    border-bottom: 3px solid transparent;
}

.nav-link:hover,
.nav-link.active {
    border-bottom: 3px solid red;
}

.hamburger {
    display: none;
}

span {
    font-size: medium;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .navbar-container {
        margin: 0 80px;
    }
}

@media (max-width: 1140px) {
    .navbar-container {
        margin: 0 60px;
    }
    .middle-section {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}

@media (max-width: 800px) {
    .navbar-container {
        margin: 0 40px;
    }
}

@media (max-width: 700px) {
    .navbar-container {
        margin: 0 8px;
    }
}
