.services-we-offer-container{
    position: relative;
}

.services-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
}

a{
position: absolute;
top: 80%;
left: 20%;
font-size: 30px;
}