.services-card-container{
    width: 100%; 
    height: 250px;
    padding-left: 20px;
    background-color:rgb(255, 254, 254);
    align-self: center;
    justify-self: center;
    padding: 20px;
    margin-left: 20px;
    
}

.services-card-container:hover{
    background-color: rgb(221, 221, 215);
}

.text p{
    size: 25px;
    margin-bottom: 5px;
    opacity: 0.8;
}

.service-card-link{
    color: black;
    padding-top: 30px;

}

.service-card-link:hover{
    text-decoration: underline;
    color: #333;
}

.services-link{
    margin-top: 60px;
}

@media screen and (max-width:700px) {
    .services-link{
        margin-top:20px ;
    }
    
}