.services-card-container{
    width: 98%;
    margin: 1%;
    height: 200px;
    background-color:rgb(224, 224, 224);
    
    
}

.services-card-container:hover{
    background-color: rgb(223, 223, 56);
}

.text p{
    size: 25px;
    margin-bottom: 5px;
    opacity: 0.8;
}



.btn{
    outline: none;
    cursor: pointer;
    
}