
.swiper-container-wrapper {
  max-width: 1200px;
  margin: 50px 0%;
  padding: 0 20px;
}


.slide-content {
  position: relative;
  height: 700px; 
  width: auto;
  overflow: hidden;
  border-radius: 8px;
}

.slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.services-swiper-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: black;
  width: 100%;
  
}

.services-swiper-text h3 {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

.services-swiper-text >a{
  color: #000;
  font-weight: 700;
}


.services-swiper-text  a:hover{
  color: grey;
}