.services-card-container{
    width: 100%;
    height: 200px;
    background-color:rgb(224, 224, 224);
    
}

.services-card-container:hover{
    background-color: yellow;
}

.text p{
    size: 25px;
    margin-bottom: 5px;
    opacity: 0.7;
}

a{
    margin-top: 40px;
}