.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: #f6f6f6; 
    color: white;
    padding: 20px;
    z-index: 1; 
    transform: translateX(-100%); 
    transition: transform 0.3s ;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.sidebar-container.open {
    transform: translateX(0); 
}


.sidebar-container a {
    text-decoration: none;
    color: black;
    display: block; 
    padding: 10px 0;
}

.sidebar-container a h2 {
    font-size: 1.2rem;
    margin: 0;
    transition: color 0.2s;
}

.sidebar-container a:hover {
    color: #ffd700;  
}


.sidebar-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    font-size: 0.8rem;
    text-align: center;
}

.sidebar-footer p {
    margin: 5px 0;
}

.sidebar-footer .tech-partner {
    font-weight: bold;
    color: #aaa;
}