
.container {
   display: flex;
    flex-direction: column;
    right: -250px; 
    width: 250px;
    height: 100%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    z-index: 20;
    padding: 20px;
}

.sidebar.open {
    right: 0; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}

.sidebar ul li {
    padding: 15px 0;
    cursor: pointer;
    font-weight: 500;
}

.sidebar ul li:hover {
    color: #007bff;
}
a{
    text-decoration: none;
}
