.sidebar-container {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 80%;
    max-width: 395px;
    height: 100vh;
    background-color: #a29f9f;
    padding: 20px;
    z-index: 9999;
    transform: translateX(300%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-container.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
}

.sidebar-links a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 0;
}

.sidebar-links a h2 {
    font-size: 1.5rem;
    margin: 0;
    transition: color 0.2s;
}

.sidebar-links a:hover {
    color: #ffd700;
}

.sidebar-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
    text-align: center;
}

