.splash-container{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    
    z-index: 99;
}

.cross-icon{
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.splash-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.splash-img img{
    max-width: 90%;
    height: auto;
    object-fit: cover;
}
