.splash-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.cross-icon{
    position: absolute;
    right: 5px;
    cursor: pointer;
}

.splash-img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.splash-img img{
    max-width: 90%;
    height: auto;
    object-fit: contain;
}
