.testmonials-container{
    margin: 10px;
}

.testmonials{
    display: flex;
    width: 100%;

}


.testmonials-img{
    height: 100px;
}



.testmonials-container  p{
font-weight: 400;
opacity: 90%;
}