.testmonials-container{
    margin-left: 50px;
    padding-top: 99px;
   
    padding-bottom: 70px;
}

.testmonials{
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    

}

.testmonials-img{
    height: 150px;
    width: 150px;
}

@media screen and (max-width:700px) {
    .testmonials-img{
        height: 150px;
        width: 150px;
    }
    
}
