.testmonials-section {
   max-width: 1250px;
   flex: 1;
   margin: auto;
}

.testmonials-container {
    margin-left: 50px;
    padding-top: 99px;
    padding-bottom: 70px;
}
.testmonials-title{
    margin-top: 30px;
    margin-bottom: 50px;
}

.testmonials {
    background-color: white;
    display: flex;
    width: 100%;
    flex-direction: column;


}


.testmonials-img {
    height: 125px;
    width: 125px;
}

.testimonials-name span,
.testimonials-text {
    color: gray;
    font-size: 13px;
}

