.testmonials-container{
    margin: 10px;
    margin-bottom: 40px;
}

.testmonials{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.testmonials-img{
    height: 200px;
    width: 200px;
}

@media screen and (max-width:700px) {
    .testmonials-img{
        height: 150px;
        width: 150px;
    }
    
}
