
html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: sans-serif;
    

    
}

a{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}


