html, body {
    margin: 10px;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

a{
    text-decoration: none;

}
a:hover{
    text-decoration: underline;
}
