@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    overflow-x: hidden;
    font-size: 1.05rem;
    margin: 5px;
    font-family: "Roboto", sans-serif;
}


a {
    text-decoration: none;
    color: rgb(7, 6, 6);

}

a:hover {
    text-decoration: none;
    color: #908e8e;
}


::-webkit-scrollbar {
    scroll-behavior: smooth;
}

::selection {
    background-color: yellow;
    color: black;
}

.dotted {
  margin: 0;
  background-color: #ffffff;

  background-image: url("data:image/svg+xml;utf8,\
    <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 32 32'>\
      <circle cx='4' cy='4' r='2' fill='%23000000' fill-opacity='0.2'/>\
    </svg>");
  
  background-repeat: repeat;
}
