@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    overflow-x: hidden;
    font-size: 1.1rem;
    margin: 5px;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: rgb(7, 6, 6);

}

a:hover {
    text-decoration: none;
    color: #908e8e;
}


::-webkit-scrollbar {
    scroll-behavior: smooth;
}

::selection {
    background-color: yellow;
    color: black;
}